---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Kyle Adkins. All rights reserved.
  <div class="social-links">
    <a href="https://github.com/kylemadkins" target="_blank">
      <span class="sr-only">GitHub</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>
    <a href="https://www.linkedin.com/in/kylemadkins" target="_blank">
      <span class="sr-only">LinkedIn</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32"
        width="32"
        viewBox="0 0 32 32"
        ><g fill="currentColor" class="nc-icon-wrapper"
          ><path
            d="M29,1H3A2,2,0,0,0,1,3V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V3A2,2,0,0,0,29,1ZM9.887,26.594H5.374V12.25H9.887ZM7.63,10.281a2.625,2.625,0,1,1,2.633-2.625A2.624,2.624,0,0,1,7.63,10.281ZM26.621,26.594H22.2V19.656c0-1.687,0-3.75-2.35-3.75s-2.633,1.782-2.633,3.656v7.126H12.8V12.25h4.136v1.969h.094a4.7,4.7,0,0,1,4.231-2.344c4.513,0,5.359,3,5.359,6.844Z"
            fill="currentColor"></path></g
        ></svg
      >
    </a>
    <a href="/rss.xml" target="_blank">
      <span class="sr-only">RSS</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32"
        width="32"
        viewBox="0 0 32 32"
        ><g fill="currentColor" class="nc-icon-wrapper"
          ><circle fill="currentColor" cx="5.33333" cy="25.33333" r="4"
          ></circle>
          <path
            fill="currentColor"
            d="M29.33333,29.33333H24C24,16.83464,13.83203,6.66667,1.33333,6.66667V1.33333 C16.77213,1.33333,29.33333,13.89388,29.33333,29.33333z"
          ></path>
          <path
            data-color="color-2"
            fill="currentColor"
            d="M20,29.33333h-5.33333C14.66667,21.98112,8.6849,16,1.33333,16v-5.33333 C11.6263,10.66667,20,19.04037,20,29.33333z"
          ></path></g
        ></svg
      >
    </a>
    <a href="mailto:kylemadkins@gmail.com">
      <span class="sr-only">Email</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32"
        width="32"
        viewBox="0 0 32 32"
        ><g fill="currentColor" class="nc-icon-wrapper"
          ><path
            d="M16,0a16,16,0,1,0,6.4,30.668l1.832-.8-1.6-3.666L20.8,27A12,12,0,1,1,28,16v2a2,2,0,0,1-4,0V8H20V9.082a8,8,0,1,0,1.42,12.785A5.995,5.995,0,0,0,32,18V16A16.019,16.019,0,0,0,16,0Zm0,20a4,4,0,1,1,4-4A4,4,0,0,1,16,20Z"
            fill="currentColor"></path></g
        ></svg
      >
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
